body {
  background-image: url("./components/MainMenu/desert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Main Menu */
.title {
  font-size: 40px;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aliceblue;
}

/* Options Component */
.optionsBG {
  background-color: rgba(240, 248, 255, 0.082);
}
.subtitle {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}