@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
    background-image: url("./components/MainMenu/desert.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main Menu */
.title {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    color: aliceblue;
}

.credits {
    font-size: 35px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    position: fixed;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer {
    background-color: #28274F;
    color: aliceblue
}
.diffBG {
    background-color: rgba(240, 248, 255, 0.082);
    display: flex !important;
    flex-direction: column !important;
}
.diffBtn {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    color: black !important;
    background-color: #E87241 !important;
    border-style: solid !important;
    border-width: medium !important;
    border-color: black !important;
    width: 150px !important;
    height: 100px !important;
    font-size: 28px !important;
    font-weight: 400 !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
    transition: 100ms !important;
    padding-top: 23px !important;
}

/* Options Component */
.optionsBG {
    background-color: rgba(240, 248, 255, 0.082);
}

.subtitle {
    font-size: 24px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: aliceblue;
}
.resetBtn {
    color: black;
    background-color: #E87241;
    border-style: solid;
    border-width: medium;
    border-color: black;
    width: 150px;
    height: 80px;
    padding: 8px;
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: 100ms !important;
}
.resetBtn:hover, .clockBtn:hover, .diffBtn:hover {
    transform: scale(1.3) !important;
    color: aliceblue !important;
    background-color: #28274F !important;
    border-style: solid;
    border: black;
}
.trivBtns:hover {
    transform: scale(1.1) !important;
    color: aliceblue !important;
    background-color: #28274F !important;
    border-style: solid;
    border: black;
}
.resetBtn:focus, .clockBtn:focus, .diffBtn:focus, .trivBtns:focus {
    background-color: #E87241;
    border-style: solid;
    border-width: medium;
    border-color: black;
    color: black;
    box-shadow: none !important;
    transition: 100ms !important;
    outline: none;
}
.clock {
    font-size: 16px;
    font-family: 'Audiowide', cursive;
    color: #28274F;
}
.clockBtn {
    box-shadow: none !important;
    outline: none;
    color: black;
    background-color: #E87241;
    border-style: solid;
    border-width: medium;
    border-color: black;
    width: 120px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: 100ms !important;
}

/* TriviaGame */
.questArea {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align-last: center;
    font-size: 40px;
    font-family: 'Jockey One', sans-serif;
    color: aliceblue;
    height: 210px;
}

.stats {
    color: #E87241;
    font-size: 35px;
    font-family: 'Play', sans-serif;
}
.trivBtns {
    width: 300px;
    height:  180px;
    padding: 10px;
    background-color: #E87241;
    color: black;
    border-style: solid;
    border-width: medium;
    border-color: black;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 25px;
    transition: 100ms;
}

.finalScore {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Jockey One', sans-serif;
    color: aliceblue;
    height: 150px;
}